article{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 70%;
    border-style: solid;
    border-radius: 1px;
    padding: 2em;
    background-color: white;
}

.padding{
    padding: 1rem;
}

article img{
    width: 100%;
}

#navigationBar{
    transition: top 0.3s;
}

.card-pretty:hover img{
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}

#card-column-wrapper{
    margin: 0.5%;
}

.textAlignCenter{
    text-align: center;
}

.buttonRound{
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight: 100;
    padding: 20px;
    margin: 5%;
    transition: all 0.3s ease 0s;
}


.buttonRound:hover {
    color: #000000;
    font-weight: 700;
    letter-spacing: 3px;
    background: #ffffff;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.footer {
    left: 0;
    bottom: 0;
    position: static;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.82);
    color: white;
    text-align: center;
}

.prettyCarousel{
    background-color: #0c5460;
}

.carouselText{
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0.2%;
    color: white;

    transition: all 0.3s ease 0s;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    );
}

.carouselBackground{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carouselBackground:hover > .carouselText{
    letter-spacing: 2px;
    transition: all 0.3s ease 0s;

}

.alert-pretty{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 30 , 30, 0.8);
    padding: 1% 3% 1% 3%;
    border: 1px solid black;
    color : white;
}

.loginBackground{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("https://images.unsplash.com/photo-1505807557511-bc38492556a6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

body{
    background-image: url("https://images.unsplash.com/photo-1490826212256-caefa02bc772?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1866&q=80");
    background-size: cover;
}